
@media (max-width: 10px) {
    .nav-link {
      display: block;
      width: 100%;
    }
  }
.navbar-brand{
    font-size: 30px;
}
   
.container{
    padding: 10%;
    padding-bottom: 3%;
}
.container h1{
    text-align: center;
    color: black;
}
.card {
    width: 100%;
    margin: 10px 0;
    border: 0;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
}