        .container {
            display: flex;
        }

        .container>div {
            width: 50%;
        }

        .container img {
            height: 100vh;
            width: 100%;
            object-fit: cover;
        }

        .container .right {
            color: #FFF;
            background: #000;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 25px;
        }

        .container .right h1 {
            font-size: 50px;
            letter-spacing: 10px;
            margin-bottom: 15px;
        }

        .container .right p {
            font-size: 20px;
            font-weight: 300;
        }

        .container .right input {
            width: 80%;
            margin-bottom: 15px;
            margin-top: 15px;
            padding: 10px;
            border-radius: 5px;
            outline: none;
            border: none;
        }

        .container .right button {
            width: 80%;
            padding: 10px;
            background: #FFF;
            border-radius: 5px;
            outline: none;
            border: none;
            font-size: 26px;
            font-weight: 600;
            transition: 0.2s;
        }

        .container .right button:hover {
            background: #000;
            color: #FFF;
        }